// Default colors
$color:							          $black;
$color-bg: 						        $white;

// Text colors
$text-dark:                   $black !default;
$text-light:                  $white !default;

$text-color:                  $text-dark;

// Link colors
$link-color:                  theme-color('primary') !default;
$link-decoration:             none !default;
$link-hover-decoration:       underline !default;
$link-outline:                5px auto -webkit-focus-ring-color !default;

// Shadows
$box-shadow-lg:               0 1rem 3rem 0 rgba($black-base, .5) !default;
$box-shadow-sm:               0 .125rem .25rem 0 rgba($black-base, .1) !default;
$box-shadow:                  0 .5rem 1rem 0 rgba($black-base, .3) !default;
// 0px 2px 18x 0px rgba($black-base, .12) !default


//|
//| Spacing
//|

// Spacer
$spacer:                      1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0:  0,
    1:  ($spacer * .25),
    2:  ($spacer * .5),
    3:  $spacer,
    4:  ($spacer * 1.5),
    5:  ($spacer * 3),
    6:  ($spacer * 4.5),
    7:  ($spacer * 7),
    8:  ($spacer * 8.5),
    9:  ($spacer * 10),
    10: ($spacer * 11.5)
  ),
  $spacers
);

// Size
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
  (
  	10:    10%,
  	20:    20%,
    25:    25%,
    30:    30%,
    40:    40%,
    50:    50%,
    60:    60%,
    70:    70%,
    75:    75%,
    80:    80%,
    90:    90%,
    100:  100%,
    auto: auto
  ),
  $sizes
);


//|
//| Body
//|
$body-bg:                       $color-bg !default;
$body-color:                    $color !default;

// Breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;


//|
//| Components
//|

// Borders
$border-color:                  $gray-400 !default;
$border-radius-lg:              .3rem !default;
$border-radius-sm:              .2rem !default;
$border-radius:                 .25rem !default;
$border-spacing:                2px !default;
$border-style:                  solid !default;
$border-width:                  1px !default;

$rounded:						            50rem !default;

$focus:                         0 0 0 3px rgba(theme-color('secondary'), .6) !important !default;

// Cusror
$cursor-color:                  $black !default;
$cursor-hover:                  pointer !default;
$cursor-not-allowed:            not-allowed !default;
$cursor-text:                   text !default;
$cursor:                        default !default;

// Carets
$caret-width:                   .3em !default;

$caret-color:                   $black !default;
$caret-spacing:                 $caret-width * .85 !default;
$caret-vertical-align:          $caret-width * .85 !default;

$component-active-color:      	$white !default;
// $component-active-bg:         theme-color("primary") !default;

// Transitions
$transition-base:             	all 200ms ease-in-out !default;
$transition-fade:             	opacity 150ms linear !default;
$transition-collapse:         	height 350ms ease !default;

 
//|
//| Typography
//|

// Fonts
$font-family-sans-serif:        -apple-system, BlinkMacSystemFont, "Nunito", Verdana, Geneva, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Times New Roman", Times, serif, Georgia !default;

$font-family-base:              $font-family-sans-serif !default;
$font-family-monospace:         SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace, monospace !default;

$font-size-base:                1rem !default;
$font-size-lg:                  $font-size-base * 1.25 !default;
$font-size-sm:                  $font-size-base * .875 !default;

$font-weight-base:            	400 !default;

$font-weight-bold:              700 !default;
$font-weight-bolder:            bolder !default;
$font-weight-light:             300 !default;
$font-weight-lighter:           lighter !default;
$font-weight-normal:            $font-weight-base !default;

// Lines
$line-height-base:              1.43 !default;
$line-height-component:         1.15 !default;

$line-height-lg:                2 !default;
$line-height-sm:                1 !default;

// Headings
$h1-font-size:                	$font-size-base * 2.5 !default;
$h2-font-size:                	$font-size-base * 2 !default;
$h3-font-size:                	$font-size-base * 1.75 !default;
$h4-font-size:                	$font-size-base * 1.5 !default;
$h5-font-size:                	$font-size-base * 1.25 !default;
$h6-font-size:                	$font-size-base !default;

$headings-color:                null !default;
$headings-font-family:          null !default;
$headings-font-weight:          500 !default;
$headings-line-height:          1.2 !default;
$headings-margin:               0 0 $spacer / 2 !default;

// Emerge
$emerge1-size:                  6rem !default;
$emerge2-size:                  5.5rem !default;
$emerge3-size:                  4.5rem !default;
$emerge4-size:                  3.5rem !default;

$emerge-line-height:            $headings-line-height !default;
$emerge1-weight:                300 !default;
$emerge2-weight:                300 !default;
$emerge3-weight:                300 !default;
$emerge4-weight:                300 !default;

$emerge-font-size:              $font-size-base * 1.25 !default;
$emerge-font-weight:            300 !default;

// Text
$small-font-size:               80% !default;
$text-decoration:               none !default;
$text-muted:                    $silver !default;

// Blockquotes
$blockquote-font-size:          $font-size-base * 1.25 !default;
$blockquote-small-color:        $gray-600 !default;
$blockquote-small-font-size:    $small-font-size !default;

// Marks
$mark-bg:                       rgba($yellow-500, .7) !default;
$mark-padding:                 .3em !default;

// Paragraph
$paragraph-margin:				      0 0 1rem !default;

// Horizontal Line
$hr-border-color:               rgba($black, .3) !default;
$hr-border-width:               $border-width !default;
$hr-margin-y:                   spacer(2) auto !default;

// Vertical line
$vr-border-color:               rgba($black, .1) !default;
$vr-border-width:               $border-width !default;
$vr-margin-y:                   0 auto !default;